body, .details{
    direction: rtl;
    float: right;
}
body{ overflow-x: hidden; width: 100%; }
/* start header */
.header{ font-family: 'Cairo', sans-serif; }
.header{
    height: 81px;
    color: #707070;
    background: #fff;
    padding: 20px;
    display: table;
    box-shadow: 0px 0px 8px 1px;
    width: 107%;
    text-align: right;
    position: fixed;
    z-index: 10;
}
.header h3{ font-size: 35px; }
/* content */
.content{
    margin-top: 150px;
    padding: 20px;
    text-align: right;
    overflow: hidden;
}
/* start header */
.final-header {
    background-color: #F3F3F3;
    color: #707070;
    width: 108%;
    min-height: 55px;
    margin-bottom: 15px;
    padding-top: 13px;
    margin-top: 280px;
}

@media only screen and (max-width: 600px){
    .header {
        height: 81px;
        color: #707070;
        background: #fff;
        padding: 20px;
        display: table;
        box-shadow: 0px 0px 8px 1px;
        width: 100%;
        text-align: right;
        position: fixed;
        z-index: 10;
    }
    .header { width: 100%; }
    .header h3 { font-size: 13px; }
    body { overflow-x: hidden; width: 90%; }
    .final-header{width: 111%;}
}